<div id="hand-mini-bar-container">
    <div class="hand-mini-bar-buttons-top-container">
        <span class="hand-mini-bar-move-handle" title="{{localize 'HANDMINIBAR.Move'}}"></span>
    </div>
    <div id="hand-mini-bar-hands-container">
    </div>
    <div class="hand-mini-bar-buttons-container">
        <span class="hand-mini-bar-show-buttons">…</span>
        <span class="hand-mini-bar-hidden-buttons">
            <span class="hand-mini-bar-subtract-bar" title="{{localize 'HANDMINIBAR.RemoveBar'}}">-</span>
            <span class="hand-mini-bar-move-handle" title="{{localize 'HANDMINIBAR.Move'}}"></span>
            <span class="hand-mini-bar-hide-show" title="{{localize 'HANDMINIBAR.HideShow'}}">▴</span>
            <span class="hand-mini-bar-move-handle" title="{{localize 'HANDMINIBAR.Move'}}"></span>
            <span class="hand-mini-bar-add-bar" title="{{localize 'HANDMINIBAR.AddBar'}}">+</span>
        </span>
    </div>
</div>
